.form-heading {
  text-align: center;
  margin: 0 auto;
  margin-top: 41px;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-top: 66px;
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 102px;
    margin-bottom: 60px;
  }
}

.form-heading__top {
  font-size: 18px;
  font-weight: bold;
  color: $black-color;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 22px;
  }
}

.form-heading__bottom {
  font-size: 14px;
  color: $grey-color;
  line-height: 24px;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    line-height: 24px;
    width: 440px;
    margin: auto;
  }
}
