@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
// сделать нормальную анимацию
.header-nav {
  @media (min-width: $tablet-width) {
    min-height: 56px;
    min-width: $tablet-width;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    order: -1;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
  }
}

.header-nav_hidden {
  @media (max-width: $tablet-width) {
    display: flex;
    min-height: 220px;
    min-width: 320px;
    flex-wrap: wrap;
    justify-content: space-around;
    order: -1;
    position: relative;
    animation: bounce 0.6s;
  }

  @media (min-width: $tablet-width) {
    min-height: 56px;
    min-width: $tablet-width;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    order: -1;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
  }
}

.header-nav_visible {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header-nav__toggle {
  @include reset-margin;
  display: flex;
  z-index: 2;
  // margin-bottom: -56px;
  // margin-left: auto;
  // margin-right: 6%;
  cursor: pointer;
  position: absolute;
  border: none;
  background-color: transparent;
  fill: $white-color;
  top: 13px;
  left: 277px;

  &:active {
    fill: #a7cae0;
    outline: none;
  }

  &:hover,
  &:focus {
    fill: #cde1ed;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header-nav__list {
  list-style: none;
  color: $white-color;
  line-height: 2.2px;
  font-weight: bold;
  font-size: 18px;

  @include reset-margin;

  @media (min-width: $tablet-width) {
    display: flex;
    color: $black-color;
    font-size: 14px;
    justify-content: space-around;
    width: 100%;
  }
}

.header-nav__list-item {
  min-width: 320px;
  background-color: $blue-color;
  box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &:nth-last-child(1) {
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  }

  &:nth-child(1) {
    box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2);
  }

  & a[href] {
    @include blue-button_hover;
  }

  @media (min-width: $tablet-width) {
    box-shadow: none;
    background-color: $white-color;
    min-width: 153px;

    &:nth-child(1) {
      box-shadow: none;
      color: $black-color;
      min-width: 153px;
    }

    &:nth-child(2) {
      margin-right: 80px;
    }

    &:nth-child(3) {
      margin-left: 77px;
    }

    & a[href] {
      &:hover,
      &:focus {
        background-color: $white-color;
        color: $blue-color;
        outline: none;
      }

      &:active {
        background-color: $white-color;
        color: rgba(51, 51, 51, 0.3);
      }
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(2) {
      margin-right: 132px;
    }

    &:nth-child(3) {
      margin-left: 110px;
    }
  }
}

.header-nav__button {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav__list-item_active {
  // &::after {
  //   content: "";
  //   position: absolute;
  //   background-image: url("../img/icon-cross.svg");
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   width: 23px;
  //   height: 22px;
  //   right: 20px;
  // }


  @media (min-width: $tablet-width) {
    &::after {
      display: none;
    }

    &:hover {
      color: $menu-hover;
      background-color: $white-color;
    }
  }
}

.header-nav_nojs {
  display: flex;
  min-height: 220px;
  min-width: 320px;
  flex-wrap: wrap;
  justify-content: space-around;
  order: -1;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 56px;
    min-width: $tablet-width;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    order: -1;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
  }
}
