@mixin reset-margin {
  margin: 0;
  padding: 0;
}

@mixin blue-button_hover {
  &:active {
    background-color: $blue-button__down;
    color: rgba(255, 255, 255, 0.3);
  }

  &:hover,
  &:focus {
    background-color: $blue-button__hover;
  }

  &:disabled {
    background-color: $blue-button__disabled;
  }
}

@mixin tools-hover {
  &:hover,
  &:focus {
    fill: $grey-color;
  }

  &:active {
    fill: rgba(51, 51, 51, 0.3);
  }

  @media (min-width: $tablet-width) {
    &:hover,
    &:focus {
      fill: rgba(255, 255, 255, 0.6);
    }

    &:active {
      fill: rgba(255, 255, 255, 0.3);
    }
  }
}
