.advantages {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__heading {
  width: 255px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-top: 51px;
    width: 600px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 31px;
    margin-bottom: 32px;
    line-height: 33px;
  }
}

.advantages__bluecard {
  width: 320px;
  height: 191px;
  background-color: $blue-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $white-color;

  @media (min-width: $tablet-width) {
    width: 256px;
    height: 256px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 400px;
  }
}

.advantages__heading_bluecard {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  width: 259px;

  @include reset-margin;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
    width: 149px;
  }
}

.advantages__numbers_bluecard {
  width: 100%;

  @media (min-width: $desktop-width) {
    @include reset-margin;
    margin-top: 13px;
    margin-bottom: 17px;
  }
}

.advantages__text_bluecard {
  line-height: 1.5;
  font-size: 14px;
  width: 259px;

  @include reset-margin;

  @media (min-width: $tablet-width) {
    width: 167px;
    line-height: 21px;
  }

  @media (min-width: $desktop-width) {
    width: 250px;
  }
}

.advantages__firstcard {
  height: 211px;

  &::before {
    content: "";
    width: 100%;
    height: 37px;
    background-image: url("../img/bg-triangle.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -12px;
  }

  @media (min-width: $tablet-width) {
    height: 256px;

    &::before {
      display: none;
    }
  }
}

.advantages__whitecard-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__text_firstcard {
  width: 275px;

  @media (min-width: $tablet-width) {
    width: 259px;
  }

  @media (min-width: $desktop-width) {
    width: 269px;
  }
}

.advantages__heading_firstcard {
  @media (min-width: $desktop-width) {
    // margin-top: -30px;
  }
}

.advantages__image {
  width: 320px;
  height: 260px;

  @media (min-width: $tablet-width) {
    width: 512px;
    height: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.advantages__image_pic {
  @media (min-width: $tablet-width) {
    width: 512px;
    height: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.advantages__whitecard {
  height: 133px;
  text-align: left;

  @media (min-width: $tablet-width) {
    height: 330px;
    width: 256px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.advantages__heading_whitecard {
  font-size: 18px;
  font-weight: bold;
  color: $black-color;

  @include reset-margin;
  padding-left: 70px;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    @include reset-margin;

    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 20.5%;
    margin-bottom: 20px;
  }
}

.advantages__text_whitecard {
  line-height: 21px;
  font-size: 14px;
  color: $grey-color;
  width: 199px;
  padding-left: 70px;

  @media (min-width: $tablet-width) {
    @include reset-margin;

    width: 162px;
  }

  @media (min-width: $desktop-width) {
    // margin-bottom: -20.5%;
    width: 300px;
  }
}

.advantages__whitecard-house {
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-size: 37px 36px;
  background-position-x: 22px;
  margin-top: 26px;

  @media (min-width: $tablet-width) {
    @include reset-margin;

    background-size: 72px 72px;
    background-position-x: 50%;
    background-position-y: 15%;
  }

  @media (min-width: $desktop-width) {
    // margin-bottom: -20.5%;
    background-position-y: 25%;
  }
}

.advantages__whitecard-souvenir {
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-size: 32px 38px;
  background-position-x: 22px;

  @media (min-width: $tablet-width) {
    @include reset-margin;

    background-size: 64px 75px;
    background-position-x: 50%;
    background-position-y: 15%;
    order: 1;

    @media (min-width: $desktop-width) {
      // margin-bottom: -20.5%;
      background-position-y: 23%;
    }
  }
}

.advantages__whitecard-food {
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-size: 40px 35px;
  background-position-x: 22px;

  @media (min-width: $tablet-width) {
    @include reset-margin;

    background-size: 77px 68px;
    background-position-x: 50%;
    background-position-y: 15%;
  }

  @media (min-width: $desktop-width) {
    // margin-bottom: -20.5%;
    background-position-y: 25%;
  }
}

.advantages__biege-wrapper {
  min-height: 503px;
  min-width: 320px;
  background-color: $biege-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    min-height: 256px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.advantages__biegecard {
  height: 167px;
  width: 280px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $grey-color;

  @media (min-width: $tablet-width) {
    width: 256px;
    height: 256px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    flex-direction: column;
  }
}

.advantages__heading_biegecard {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  width: 259px;

  @include reset-margin;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    width: 120px;
    padding-top: 5px;
    line-height: 26px;
  }
}

.advantages__number_biegecard {
  width: 100%;

  @media (min-width: $desktop-width) {
    @include reset-margin;

    padding-top: 10px;
    padding-bottom: 22px;
  }
}

.advantages__text_biegecard {
  line-height: 1.5;
  font-size: 14px;
  width: 238px;
  color: $grey-color;

  @include reset-margin;

  @media (min-width: $tablet-width) {
    width: 158px;
  }

  @media (min-width: $desktop-width) {
    width: 283px;
    padding-bottom: 20px;
  }
}

.advantages__lastcard {
  border-bottom: none;
}


.advantages__text_lastcard {
  width: 246px;
}

.advantages__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__container {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
  }
}
