.contact-block__wrapper {
  margin: 29px 20px 0;

  @media (min-width: $tablet-width) {

  }

  @media (min-width: $desktop-width) {

  }

}

.contact-block__telephone {
  display: flex;
  flex-wrap: wrap;

  &::after {
    content: "";
    width: 58px;
    height: 58px;
    background-color: $grey-color_input;
    display: block;
    margin-top: auto;
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center;
  }
}

.contact-block__telephone_input {
  width: 200px;
  margin-top: 14px;

  @media (min-width: $tablet-width) {

  }

  @media (min-width: $desktop-width) {

  }
}

.contact-block__email {
  margin-top: 20px;
  margin-bottom: 28px;
  display: flex;
  flex-wrap: wrap;

  &::after {
    content: "";
    width: 58px;
    height: 58px;
    background-color: $grey-color_input;
    display: block;
    margin-top: auto;
    background-image: url(../img/icon-mail.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
  }

  @media (min-width: $tablet-width) {

  }

  @media (min-width: $desktop-width) {

  }
}

.contact-block__email_input {
  width: 200px;
  margin-top: 14px;


  @media (min-width: $tablet-width) {

  }

  @media (min-width: $desktop-width) {


}
}
