.develop {
  font-size: 14px;
  display: flex;
  min-height: 34px;
  align-items: center;
}

.develop__img {
  width: 27px;
  height: 34px;
  margin-left: 11px;

  &:active {
    fill: #bdbbbc;
  }

  &:hover,
  &:focus {
    fill: #81b3d2;
  }
}

// .footer__develop-img path {
//   fill: #000000;
// }

.develop__text {
  @media (min-width: $desktop-width) {
    padding-left: 33px;
  }
}
