.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 233px;
  opacity: 0.9;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-height: 120px;
  }
}

.footer__hashtag {
  @media (min-width: $tablet-width) {
    display: flex;
    width: 33.3%;
    justify-content: center;
  }
}

.footer__social {
  display: flex;
  margin-top: -20px;

  @media (min-width: $tablet-width) {
    width: 33.3%;
    justify-content: center;
    margin-top: 0;
  }
}

.footer__develop {
  @media (min-width: $tablet-width) {
    width: 33.3%;
    justify-content: center;
  }
}

.footer__develop_text {
  @media (min-width: $tablet-width) {
    padding-left: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 30px;
  }
}
