.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 233px;
  opacity: 0.9;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-height: 120px;
  }
}

.footer__hashtag {
  font-weight: bold;
  font-stretch: normal;
  font-size: 21px;

  @include reset-margin;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 33.3%;
    justify-content: center;
  }
}

.footer__hashtag_text {
  @media (min-width: $desktop-width) {
    margin-right: 27px;
  }
}

.footer__links {
  display: flex;
  margin-top: -20px;

  @media (min-width: $tablet-width) {
    width: 33.3%;
    justify-content: center;
    margin-top: 0;
  }
}

.footer__links-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 156px;
  flex-wrap: wrap;

  @include reset-margin;
}

.footer__links-item {
  background-color: $blue-color;
  display: block;
}

.footer__links-button {
  width: 46px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include blue-button_hover;

  &:active .social-facebook,
  &:active .social-twitter,
  &:active .social-youtube {
    opacity: 0.3;
  }
}

.footer__develop {
  font-size: 14px;
  display: flex;
  min-height: 34px;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 33.3%;
    justify-content: center;
  }
}

.footer__develop_text {
  @media (min-width: $tablet-width) {
    padding-left: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 30px;
  }
}

.footer__develop-img {
  width: 27px;
  height: 34px;
  margin-left: 11px;

  &:active {
    fill: #bdbbbc;
  }

  &:hover,
  &:focus {
    fill: #81b3d2;
  }
}

// .footer__develop-img path {
//   fill: #000000;
// }
