.form-page__heading {
  text-align: center;
  margin: 0 auto;
}

.form-page__heading .site-heading__top {
  font-size: 18px;
  font-weight: bold;
  color: $black-color;
}

.form-page__heading .site-heading__bottom {
  font-size: 14px;
  color: $grey-color;
  line-height: 26px;
}
