.header-nav {
  display: flex;
  min-height: 111px;
  min-width: 320px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header-nav__list {
  order: -1;
  list-style: none;
  color: $white-color;
  line-height: 2.2px;
  font-weight: bold;
  font-size: 18px;

  @include reset-margin;
}

.header-nav__list-item {
  min-width: 320px;
  height: 55px;
  background-color: $blue-color;
  box-shadow: 0px 1px 0 0 rgba(1, 1, 1, 0.2), inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &:nth-last-child(1) {
    box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);
  }

  &:nth-child(1) {
    box-shadow: 0px 1px 0 0 rgba(1, 1, 1, 0.2);
  }
}

.header-nav__logo {

}

.header-nav__logo-image {
  width: 102px;
  height: 83px;
  object-fit: contain;
}

.header-nav__toggle {
  height: 21px;
  width: 23px;
  background-color: $blue-color;
  background-image: url(../img/icon-menu.svg);
  object-fit: contain;
  color: $white-color;
  align-self: center;
}
