.main-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
  }
}

.main-form__heading {
  font-size: 21px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-top: 50px;
  }
}

.main-form__heading_text {
  font-size: 14px;
  line-height: 24px;
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    width: 434px;
  }
}

.main-form__button {
  width: 280px;
  height: 58px;
  background-color: $blue-color;
  margin: 0 auto;
  font-size: 21px;
  font-weight: bold;
  color: $white-color;
  text-transform: uppercase;
  cursor: pointer;
  border: none;

  @include blue-button_hover;

  @media (min-width: $tablet-width) {
    width: 458px;
    height: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 29px;
  }
}

.main-form__map {
  background-color: $blue-color;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-size: contain;
  height: 350px;
  min-width: 320px;
  margin-top: 49px;

  @media (min-width: $tablet-width) {
    height: 350px;
    width: $tablet-width;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 65px;
    width: $desktop-width;
    background-image: url("../img/bg-map-desktop@1x.jpg");
  }
}
