.main-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-form__heading {
  font-size: 21px;
}

.main-form__heading_text {
  font-size: 14px;
  line-height: 24px;
  width: 260px;
}

.main-form__button {
  width: 280px;
  height: 58px;
  background-color: $blue-color;
  margin: 0 auto;
  font-size: 21px;
  font-weight: bold;
  color: $white-color;
  text-transform: uppercase;
  cursor: pointer;
  border: none;

  @include blue-button_hover;
}

.main-form__map {
  background-color: $blue-color;
  background-image: url(../img/bg-map-mobile@1x.jpg);
  background-size: contain;
  height: 350px;
  min-width: 320px;
  margin-top: 49px;
}

@media (min-width: $tablet-width) {
  .main-form__heading {
    font-size: 30px;
  }

  .main-form__heading_text {
    width: 434px;
  }

  .main-form__button {
    width: 458px;
    height: 58px;
  }

  .main-form__map {
    height: 350px;
    width: $tablet-width;
    background-image: url(../img/bg-map-tablet@1x.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}
