.meeting {
  height: 389px;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  object-fit: contain;
  display: flex;
  flex-wrap: wrap;

  &::after {
    content: "";
    width: 100%;
    height: 26px;
    background-image: url(../img/bg-intro-triangle-mobile.svg);
    margin-top: auto;
  }
}

.meeting__logo {
  margin: auto;
  width: 281px;
  height: 214px;
  object-fit: contain;
}
