.ratings-block {
  @media (min-width: $tablet-width) {
    order: -1;
    width: 384px;

    &::after {
      content: "";
      width: 1px;
      height: 292px;
      background-color: $biege-color;
      left: 50%;
      position: absolute;
    }
  }

  @media (min-width: $desktop-width) {
    @include reset-margin;

    width: 50%;
  }
}

.ratings-block__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 170px;
  margin-top: 25px;
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    @include reset-margin;

    margin-right: 10px;
    height: 205px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 216px;
  }
}

.ratings-block__container {
  display: flex;
  align-items: center;
  margin-top: 18px;

  & input {
    appearance: none;
    width: 52px;
    height: 52px;
    background-color: $biege-color;
    position: relative;
    border-radius: 50px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 28px;
  }
}

.ratings-block__label {
  margin-right: 25px;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
}

.ratings-block__radio {
  margin-right: 14px;

  &:checked {
    background-color: $black-color;
    border: 16px solid $biege-color;
  }
}

.ratings-block__heading {
  margin-top: 18px;

  @media (min-width: $tablet-width) {
    text-align: left;
    font-size: 21px;

    @include reset-margin;

    margin-bottom: 0;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 200px;
    margin-bottom: 20px;
  }
}

