.ratings-block {
  @media (min-width: $tablet-width) {
    order: -1;
    width: 384px;

    &::after {
      content: "";
      width: 1px;
      height: 292px;
      background-color: $biege-color;
      left: 50%;
      position: absolute;
    }
  }
}

.ratings-block__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  height: 170px;
  margin-top: 32px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    @include reset-margin;

    margin-right: 10px;
    height: 205px;
  }
}

.ratings-block__container {
  display: flex;
  align-items: center;

  & input {
    appearance: none;
    width: 46px;
    height: 46px;
    background-color: $biege-color;
    position: relative;
    border-radius: 50px;
  }
}

.ratings-block__label {
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
  margin-left: 27px;
}

.ratings-block__radio {
  &:checked {
    background-color: $black-color;
    border: 16px solid $biege-color;
  }
}

.ratings-block__heading {
  @media (min-width: $tablet-width) {
    text-align: left;
    font-size: 21px;

    @include reset-margin;

    margin-bottom: 60px;
    margin-left: 60px;
  }
}

@media (min-width: $tablet-width) {

}

@media (min-width: $desktop-width) {

}
