.review-block {
  justify-content: center;
  flex-wrap: wrap;
}

.review-block__heading {
  margin-top: 18px;

  @media (min-width: $tablet-width) {
    @include reset-margin;

    margin-bottom: 32px;

    &::before {
      content: "";
      height: 1px;
      background-color: $biege-color;
      position: absolute;
      width: 130px;
      left: 15%;
      margin-top: 10px;
    }

    &::after {
      content: "";
      height: 1px;
      background-color: $biege-color;
      position: absolute;
      width: 130px;
      right: 15%;
      margin-top: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 260px;
    }

    &::after {
      width: 260px;
    }
  }
}

.review-block__textarea {
  background-color: $biege-color;
  border: none;
  height: 160px;
  width: 280px;
  color: $black-color;
  text-transform: none;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;

  @include reset-margin;
  margin-top: 16px;
  padding: 18px 20px;

  & input {
    font: $font;
  }

  &::placeholder {
    color: $black-color;
    font: $font;
  }

  @media (min-width: $tablet-width) {
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
  }
}
