
.social__links-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 156px;
  flex-wrap: wrap;

  @include reset-margin;
}

.social__links-item {
  background-color: $blue-color;
  display: block;
}

.social__button {
  width: 46px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include blue-button_hover;

  &:active .social-facebook,
  &:active .social-twitter,
  &:active .social-youtube {
    opacity: 0.3;
  }
}

.social__twitter {
  fill: $white-color;

  &:disabled {
    opacity: 0.3;
  }
}

.social__facebook {
  fill: $white-color;

  &:disabled {
    opacity: 0.3;
  }
}

.social__youtube {
  fill: $white-color;

  &:disabled {
    opacity: 0.3;
  }
}
