
.social__link--twitter {
  fill: $white-color;

  &:disabled {
    opacity: 0.3;
  }
}

.social__link--facebook {
  fill: $white-color;

  &:disabled {
    opacity: 0.3;
  }
}

.social__link--youtube {
  fill: $white-color;

  &:disabled {
    opacity: 0.3;
  }
}
