
.social-twitter {
  fill: $white-color;

  &:disabled {
    opacity: 0.3;
  }
}

.social-facebook {
  fill: $white-color;

  &:disabled {
    opacity: 0.3;
  }
}

.social-youtube {
  fill: $white-color;

  &:disabled {
    opacity: 0.3;
  }
}
