@import "_variables.scss";
@import "wrapper.scss";
@import "page-header.scss";
@import "header-nav.scss";
@import "normalize.scss";
@import "visually-hidden.scss";
@import "meeting.scss";
@import "advantages.scss";
@import "bluecard.scss";
@import "picturecard.scss";
@import "whitecard.scss";
@import "biegecard";
@import "site-heading.scss";
@import "main-form.scss";
@import "footer.scss";
@import "hashtag.scss";
@import "develop.scss";
@import "social.scss";
@import "meeting-small.scss";
@import "photo.scss";
@import "photo-block.scss";
@import "video.scss";
@import "form-heading.scss";
@import "form-wrapper.scss";
@import "form-block.scss";
@import "user-block.scss";
@import "contact-block.scss";
@import "ratings-block.scss";
@import "review-block.scss";
@import "visited-block.scss";
@import "popup.scss";

@font-face {
  font-family: "PTSans-Regular";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans-Bold";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


html {
  box-sizing: border-box;

  &*::before {
    box-sizing: border-box;
  }

  &*::after {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $font;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
