@import "_colors";
@import "_variables";
@import "page-header";
@import "header-nav.scss";
@import "normalize.scss";
@import "visually-hidden.scss";

html {
  box-sizing: border-box;

  &*::before {
    box-sizing: border-box;
  }

  &*::after {
    box-sizing: border-box;
  }
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: $font;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
