.user-block {
  @media (min-width: $tablet-width) {
    width: 343px;
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;

    @include reset-margin;
  }
}

.user-block__wrapper {
  margin: 0 20px;

  @media (min-width: $desktop-width) {
    margin-left: 79px;
  }
}

.user-block__heading {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    text-align: left;

    @include reset-margin;

    margin-bottom: 60px;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 78px;
  }
}

.user-block__name {
  display: flex;
  align-items: center;
}

.user-block__input_name {
  width: 218px;
  margin-left: 14px;

  @media (min-width: $desktop-width) {
    width: 350px;
  }
}

.user-block__surname {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.user-block__input_surname {
  margin-left: 13px;
  width: 180px;

  @media (min-width: $desktop-width) {
    width: 312px;
  }
}

.user-block__patron {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.user-block__input_patron {
  margin-left: 16px;
  width: 182px;

  @media (min-width: $desktop-width) {
    width: 314px;
  }
}
