.video {
  display: flex;
  flex-wrap: wrap;
}

.video__slogan {
  margin: 0 auto;
}

.video__slogan .site-heading__top {
  font-size: 18px;
  font-weight: bold;
}

.video__slogan .site-heading__bottom {
  font-size: 14px;
  color: $grey-color;
  width: 236px;
}
