.video {
  display: flex;
  flex-wrap: wrap;
}

.video__slogan {
  margin: 0 auto;
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    margin-top: 35px;
  }
}

.video__heading {
  font-size: 18px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.video__text {
  font-size: 14px;
  color: $grey-color;
  width: 236px;
  padding-top: 12px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    width: 415px;
  }
}

.video__wrapper {
  margin-top: 20px;
  margin-bottom: 46px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    width: 100%;
    justify-content: center;
    margin-top: 57px;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.video__picture {
  width: 320px;
  height: 201px;

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 499px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    height: 500px;
  }
}

.video__tools {
  width: 280px;
  margin: 0 auto;
  margin-top: -49px;

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 93px;
    margin-top: -97px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.video__top {
  height: 45px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    height: 40px;
    background-color: transparent;
  }
}

.video__scale {
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: auto;
  display: flex;

  @media (min-width: $tablet-width) {
    width: 389px;
    margin-bottom: -9px;
    margin-right: 166px;
  }

  @media (min-width: $desktop-width) {
    width: 540px;
  }
}

.video__circle {
  @include reset-margin;
  border: none;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: $white-color;
  margin-top: -3px;
  margin-left: 15%;

  @media (min-width: $tablet-width) {
    margin-left: 29%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 20.5%;
  }
}

.video__buttons {
  height: 66px;
  background-color: $biege-color;
  display: flex;
  justify-content: space-between;
  padding-left: 8.9%;
  padding-right: 8.2%;
  align-items: center;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    height: 53px;
    padding-left: 5.4%;
    padding-right: 6.3%;
  }

  @media (min-width: $desktop-width) {
    padding-left: 4.4%;
    padding-right: 5.2%;
  }
}

.video__button {
  @include reset-margin;

  height: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.video__button_replay {
  width: 16px;
  flex-grow: 3;
  margin-right: 133px;

  @media (min-width: $tablet-width) {
    margin-right: 474px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 624px;
  }
}

.video__button_subtitles {
  width: 32px;
  margin-right: 31px;
}

.video__button_screen {
  width: 20px;
}

.video__icon {
  fill: #5c6870;

  @media (min-width: $tablet-width) {
    fill: $white-color;
  }
}
