.visited-block {
  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin: 0 auto;

  }
}

.visited-block__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 270px;
  align-content: space-around;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    // width: 500px;
    margin: 0 20%;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    min-height: auto;
    min-width: $desktop-width;
    justify-content: space-evenly;
  }
}

.visited-block__heading {
  @media (min-width: $tablet-width) {
    width: 278px;
    margin-bottom: 22px;

    &::before {
      content: "";
      height: 1px;
      background-color: $biege-color;
      position: absolute;
      width: 130px;
      left: 15%;
      margin-top: 25px;
    }

    &::after {
      content: "";
      height: 1px;
      background-color: $biege-color;
      position: absolute;
      width: 130px;
      right: 15%;
      // margin-top: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 260px;
    }

    &::after {
      width: 260px;
    }
}

.visited-block__container {
  display: flex;
  align-items: center;
  margin-left: 24px;

  & input {
    appearance: none;
    width: 46px;
    height: 46px;
    background-color: $biege-color;
    border: 5px solid $biege-color;
    box-sizing: border-box;
    border-radius: 10px;
  }

  @media (min-width: $tablet-width) {
    @include reset-margin;

    &:nth-child(2) {
      margin-right: 15px;
    }
  }

  @media (min-width: $desktop-width) {
    @include reset-margin;
  }
}

.visited-block__label {
  margin-left: 29px;
  font-weight: bold;
  font-size: 18px;
  text-transform: none;
}

.visited-block__checkbox {
  &:checked {
    background-image: url(../img/icon-tick.svg);
    background-repeat: no-repeat;
    background-size: 24px 16px;
    background-position: center;
  }
}

@media (min-width: $tablet-width) {

}

@media (min-width: $desktop-width) {

}
